

<form id="search_form" action="">
  <input id="search_box" name="movie_search" placeholder="search">
</form>


<% @title.each do |t| %>

  <a href="http://www.omdbapi.com/?t=<%= t["Title"] %>" >
    <%= t["Title"] %><br/>
  </a>
<% end %> 