<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Meme Videos</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <link href='http://fonts.googleapis.com/css?family=IM+Fell+DW+Pica+SC' rel='stylesheet' type='text/css'>
</head>
<body>

  <h1>Meme Videos</h1>

  <%= yield %>

  <%= @videos %> 

</body>